@import url("https://fonts.googleapis.com/css2?family=Seymour+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #9dcaff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}
h1 {
  font-size: 50px;
  color: hsl(0, 0%, 20%);
}
.choices {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 62px;
}
.choices button {
  font-size: 100px;
  border-radius: 100%;
  width: 222px;
  height: 222px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  transition: 0.5s ease;
  box-shadow: 4px 4px 0px 0px #000000;
  box-shadow: 4px -7px 0px 0px #c2c2c2 inset;
}
.choices button:hover {
  transform: scale(1.1);
}
#playerDisplay,
#computerDisplay {
  font-family: Seymour One;
  font-weight: 400;
  font-style: Book;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -10%;
  text-align: center;
  color: #ffffff;
  -webkit-text-stroke: 2px black;
  text-shadow: 4px 4px #000000;
  text-shadow: 4px -7px 0px 0px #c2c2c2 inset;
}
#resultDisplay {
  font-size: 96px;
  margin-top: 30px;
}
.scoreDisplay {
  font-size: 20px;
  color: hsl(0, 0%, 20%);
}

#playerScoreDisplay {
  font-family: Seymour One;
  font-weight: 400;
  font-style: Book;
  font-size: 160px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  -webkit-text-stroke: 2px black;
  text-shadow: 4px 4px #000000;
  text-shadow: 4px -7px 0px 0px #c2c2c2 inset;
}

#computerScoreDisplay {
  font-family: Seymour One;
  font-weight: 400;
  font-style: Book;
  font-size: 160px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  -webkit-text-stroke: 2px black;
  text-shadow: 4px 4px #000000;
  text-shadow: 4px -7px 0px 0px #c2c2c2 inset;
}

.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.rock {
  background-image: url("./rock.png");
}
.paper {
  background-image: url("./paper.png");
}
.scissors {
  background-image: url("./scissors.png");
}
.result {
  display: flex;
  justify-content: center;
  gap: 250px;
  margin-top: 100px;
}
.computer {
  width: 163px;
}
.player {
  width: 163px;
}
.result-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
  gap: 50px;
}
.winLoseDraw {
  font-family: Seymour One;
  font-weight: 400;
  font-style: Book;
  font-size: 96px;
  color: #ffffff;
  line-height: 100%;
  letter-spacing: -10%;
  text-align: center;
  -webkit-text-stroke: 2px black;
  text-shadow: 4px 4px #000000;
  text-shadow: 4px -7px 0px 0px #c2c2c2 inset;
}

#buttonForRes {
  display: none;
}
#restartBtn,
#nextRound {
  font-family: Shrikhand;
  font-weight: 400;
  font-style: Italic;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  box-shadow: 4px 4px #000000;
  box-shadow: 4px -7px 0px 0px #c2c2c2 inset;
  border: 2px solid #000000;
}
#restartBtn {
  width: 145px;
  height: 63px;
  opacity: 1;
}
#nextRound {
  width: 204px;
  height: 63px;
  opacity: 1;
}
.animation {
  display: flex;
}
.robot {
  background-image: url("./AI-hand.png");
  width: 441px;
  height: 1216px;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: -271.62px;
  transform: rotate(45deg);
}
.human {
  background-image: url("./PLAYER-hand.png");
  width: 441px;
  height: 1216px;
  opacity: 1;
  position: absolute;
  top: 200px;
  left: 2000px;
  transform: rotate(-45deg);
}
